#about-container {
    margin: 0%;
}

#about-section {
    padding: 6em 3em;
    background: url("../assets/images/projects/background-projects.jpg");
}

#about-section span {
    font-size: 70%;
}

#about-container h3 {
    color: white;
}

#about-container p {
    text-align: justify;
    font-weight: normal;
    text-transform: none;
    color: white;
    font-size: 120%;
}
