#about-container {
    margin: 0%;
}

#about-section {
    padding: 4rem 6rem;
    background: url("../assets/images/landing-page/dark-blue-degrade.jpg");
}

#about-section span {
    font-size: 55%;
}

#about-container h3 {
    color: white;
}

#about-container p {
    text-align: justify;
    font-weight: normal;
    text-transform: none;
    color: white;
    font-size: 120%;
}