#calendar-sector {
    background: url("../assets/images/projects/background-projects.jpg");
    padding: 2em 2em;
}

.responsiveCal {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

#calendar-sector h3 {
    color: white;
}

#calendar-sector p {
    color: white;
}
