#info-container {
    margin: 0%;
}

#info-section {
    padding: 6rem 3rem;
}

#info-container p {
    text-align: justify;
    font-weight: normal;
    text-transform: none;
    font-size: 120%;
    color: black;
}

#info-container i {
    display: inline-block;
    font-size: 600%;
    padding-left: 40%;
    color: black;
    /*padding-right: 5%;*/
}

#info-section img{
    margin: 0 auto;
}

#info-container h5 {
    text-weight: normal;
}