section#project-section {
    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background: url(./../assets/images/landing-page/background-image-projects.png) no-repeat fixed center;
    background-size: cover;
}

section#project-section h3 {
    color: white;
}

section#project-section h5 {
    padding-left: 10%;
    padding-right: 10%;
    text-transform: none;
}

section#project-section span {
    font-size: 100%;
}

#projects-container {
    margin: 0%;
}

#subtitle-text {
    color: white;
}