section#projects {
    background: url("../assets/images/projects/background-projects.jpg");
}

section#projects h1{
    color: white;
}

.card {
    margin-right: 12em;
}

.card-hidden {
    display: none;
}

.row {
    margin-left: 12em;
}

section#projects Button {
    margin-left:  .4em;
    margin-right: .4em;
    margin-bottom: 2em;
}