.tutorialsPage {
    /*height: 100%;*/
    min-height: 50em;
}

.tutorialSidebar {

}

.tutorialsSidebar :hover {
    color: #4183c4;
}

.tutorialsSidebar header a {
    color: azure;
    font-size: 32pt;
    margin-top: 0.5em;
    margin-bottom: 0.75em;

    height: fit-content;
}


.tutorialsSidebarItem {
    text-align: left;
    margin-left: 15%;
}

.tutorialsSidebar ::before {
    font-size: 2em;
}

.tutorialsSidebarItem .tutorialTitle {
    display: block;

    margin-top: 0.25em;
    margin-bottom: 0.25em;

    font-size: 16pt;
}

#tutorialChapterItem {
    display: block;

    margin-left: 10%;
    margin-top: 0.75em;
    margin-bottom: 0.75em;

    color: azure;
    font-size: 12pt;

    text-align: left;
}

#tutorialChapterItem:hover {
    color: #4183c4;
}

.tutorialsContent h3 {
    color: black
}