#tutorials-container {
    margin: 0%;
}

#tutorials-section {
    padding: 6em 3rem;
    background: url("../assets/images/projects/background-projects.jpg");
}

#tutorials-section span {
    font-size: 80%;
}

#tutorials-section img {
    height: auto;
    width: 40%;
    align-content: center;
    vertical-align: center;
}

#tutorials-section h5 {
    color: white;
    vertical-align: middle;
}

#tutorials-container h3 {
    color: white;
}

#tutorials-container p {
    text-align: justify;
    font-weight: normal;
    text-transform: none;
    color: white;
    font-size: 130%;
}

#balloon {
    width: 50em;
    height: auto;
}