section#tutorials {
    background: url("../assets/images/projects/background-projects.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#tutorials p,
section#tutorials h1{
    color: #E0E0E0;
    width: 80%;
}