<html>
    <head>

    </head>
    <body>
    <form action="/addmember" method="POST">
        <input type="hidden" id="firstname" name="firstname" value="3487">
        <input type="hidden" id="secondname" name="secondname" value="3487">
        <input type="hidden" id="callby" name="callby" value="3487">
        <input type="hidden" id="since" name="since" value="3487">
        <input type="hidden" id="to" name="to" value="3487">
        <input type="hidden" id="imagelink" name="imagelink" value="3487">
        <button type="submit"></button>
    </form>

    </body>

</html>