<html>
    <head>

    </head>
    <body>
    <form action="/addmember" method="POST">
        <input type="hidden" id="firstname" name="firstname" value="Igor">
        <input type="hidden" id="secondname" name="secondname" value="Bragaia">
        <input type="hidden" id="callby" name="callby" value="Bragaia">
        <input type="hidden" id="since" name="since" value="2016">
        <input type="hidden" id="to" name="to" value="2018">
        <input type="hidden" id="imagelink" name="imagelink" value="https://media.licdn.com/dms/image/C5103AQHruUwLpxFwSQ/profile-displayphoto-shrink_200_200/0?e=1535587200&v=beta&t=5NSUNEIUR-8O8tPVwPbdfbE4v3E9_1xzQO0rgN4rCQE">
        <button type="submit"></button>
    </form>

    </body>

</html>
