<html>
    <head>
    </head>
    <body>
    Cadastro de membros
    <form action="/addmember" method="POST" enctype="multipart/form-data">
        Nome <input id="firstname" name="firstname"><br>
        Sobrenome <input id="secondname" name="secondname"><br>
        Apelido <input id="callby" name="callby"><br>
        Membro desde 20<input id="since" name="since"><br>
        Membro até 20<input id="to" name="to"><br>
        <input id="image" type="file" accept="image/*" name="image" /><br>
        <button type="submit">gogog</button>
    </form>

    </body>

</html>
